In [1]:
import acquire
from acquire import get_store_data
from acquire import get_power_data
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
sales = get_store_data()

Data is cached. Reading from .csv files
Items data acquired...
Stores data acquired...
Sales data acquired...
Acquisition complete

In [3]:
sales

,sale_amount,sale_date,sale_id,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_id,store_state,store_zipcode
0,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
2,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
3,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
4,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912995,63.0,"Wed, 27 Dec 2017 00:00:00 GMT",912996,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231
912996,59.0,"Thu, 28 Dec 2017 00:00:00 GMT",912997,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231
912997,74.0,"Fri, 29 Dec 2017 00:00:00 GMT",912998,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231
912998,62.0,"Sat, 30 Dec 2017 00:00:00 GMT",912999,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231
912999,82.0,"Sun, 31 Dec 2017 00:00:00 GMT",913000,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231

### The end result of this exerccise will be a file named prepare.py

### 1. Convert date column to datetime format.

In [4]:
def create_datetime_object(df):
    sales.sale_date = pd.to_datetime(sales.sale_date)

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   sale_amount    913000 non-null  float64
 1   sale_date      913000 non-null  object
 2   sale_id        913000 non-null  int64
 3   item_brand     913000 non-null  object
 4   item_id        913000 non-null  int64
 5   item_name      913000 non-null  object
 6   item_price     913000 non-null  float64
 7   item_upc12     913000 non-null  int64
 8   item_upc14     913000 non-null  int64
 9   store_address  913000 non-null  object
 10  store_city     913000 non-null  object
 11  store_id       913000 non-null  int64
 12  store_state    913000 non-null  object
 13  store_zipcode  913000 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 104.5+ MB

In [6]:
sales.sale_date = pd.to_datetime(sales.sale_date)

In [7]:
sales

,sale_amount,sale_date,sale_id,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_id,store_state,store_zipcode
0,13.0,2013-01-01 00:00:00+00:00,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,11.0,2013-01-02 00:00:00+00:00,2,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
2,14.0,2013-01-03 00:00:00+00:00,3,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
3,13.0,2013-01-04 00:00:00+00:00,4,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
4,10.0,2013-01-05 00:00:00+00:00,5,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912995,63.0,2017-12-27 00:00:00+00:00,912996,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231
912996,59.0,2017-12-28 00:00:00+00:00,912997,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231
912997,74.0,2017-12-29 00:00:00+00:00,912998,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231
912998,62.0,2017-12-30 00:00:00+00:00,912999,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231
912999,82.0,2017-12-31 00:00:00+00:00,913000,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231

### 2. Plot the distribution of sale_amount and item_price.

In [ ]:
# Need to work on this to work on any dataframe
# def plot_distributions(df):
#     # Set number for first plot
#     n = 1
#     
#     # If columns is not specified use all columns from df
#     if columns == []:
#         columns += df.columns
#     
#     plt.figure(figsize=(10,6))
#     for feature in columns:       
#         plt.subplot(1,2,n)
#         plt.hist(sales[feature])
#         plt.title(f'Distribution of {feature}')
#         
#         n += 1
#

In [ ]:
plt.figure(figsize=(10,6))

plt.subplot(121)
plt.hist(sales.sale_amount)
plt.title('Distribution of Sale Amount')

plt.subplot(122)
plt.hist(sales.item_price)
plt.title('Distribution of Item Price')

### 3. Set the index to be the datetime variable.

In [ ]:
# Create function that will set the index for the sales dataset
def set_index(index_name):
    sales = sales.set_index(index_name).sort_index()
    sales.index.rename('date', inplace=True)
    return sales

In [ ]:
sales = sales.set_index('sale_date').sort_index()
sales.index.rename('date', inplace=True)

### 4. Add a 'month' and 'day of week' column to your dataframe.

In [ ]:
# Create a function that adds the columns 'month', 'day_of_week', and 'sales_total' to sales dataframe.
def add_columns(df):
    df['month'] = df.index.month
    df['day_of_week'] = df.index.strftime('%w')
    df['sales_total'] = df.sale_amount * df.item_price
    return df

In [ ]:
# Create a 'month' column where each month is represented by an integer. Jan = 1
sales['month'] = sales.index.month

In [ ]:
# Create a 'day_of_week' column where each day is represented by an integer. Sun = 0
sales['day_of_week'] = sales.index.strftime('%w')

In [ ]:
sales

### 5. Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

In [ ]:
sales['sales_total'] = sales.sale_amount * sales.item_price

In [ ]:
sales

### 6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

In [ ]:
# Create a function that creates a datetime object from the sale_date column.
def create_datetime_object(df):
    sales.sale_date = pd.to_datetime(sales.sale_date)
    
# Create a function that plots the distributions from a given list of features.
def plot_distributions(list):
    # Set number for first plot
    n = 1
    plt.figure(figsize=(10,6))
    for feature in list:       
        plt.subplot(1,2,n)
        plt.hist(sales[feature])
        plt.title(f'Distribution of {feature}')
        
        n += 1

# Create function that will set the index for the sales dataset.
def set_index(index_name):
    sales = sales.set_index(index_name).sort_index()
    sales.index.rename('date', inplace=True)
    return sales


# Create a function that adds the columns 'month', 'day_of_week', and 'sales_total' to sales dataframe.
def add_columns(df):
    df['month'] = df.index.month
    df['day_of_week'] = df.index.strftime('%w')
    df['sales_total'] = df.sale_amount * df.item_price
    return df

## Using the OPS data acquired in the Acquire exercises opsd_germany_daily.csv, complete the following:

### 1. Convert date column to datetime format.

In [ ]:
opsd = get_power_data()

In [ ]:
opsd.info()

In [ ]:
opsd.Date = pd.to_datetime(opsd.Date)

In [ ]:
opsd.info()

In [ ]:
columns = opsd.columns
columns

In [ ]:
def plot_distributions(list):
    # Set number for first plot
    n = 1
    plt.figure(figsize=(10,6))
    for feature in list:   
        plt.figure(figsize=(10,6))
        plt.subplot(4,2,n)
        plt.hist(opsd[feature])
        plt.title(f'Distribution of {feature}')
        
        n += 1

In [ ]:
plot_distributions(columns)

### 3. Set the index to be the datetime variable.

In [ ]:
opsd = opsd.set_index('Date').sort_index()

In [ ]:
opsd

### 4. Add a month and a year column to your dataframe.

In [ ]:
def add_columns(df):
    df['month'] = df.index.month
    df['year'] = df.index.strftime('%Y')
    return df

In [ ]:
opsd['month'] = opsd.index.month

In [ ]:
opsd['year'] = opsd.index.strftime('%Y')

In [ ]:
opsd

### 5. Fill any missing values.

In [ ]:
opsd.isnull().sum()