In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from acquire import get_store_data
from acquire import get_power_data

### Exercise 

Do your work for this exercise in a notebook named explore. Use the techniques in the lesson to explore the store item demand dataset and the opsd dataset.

For the store item demand data, you will need to choose a method of aggregating such that each observation is a unique date. For both datasets you should choose a method of splitting your data and only explore the training split.

In [4]:
store = get_store_data()
opsd = get_power_data()

Data is cached. Reading from .csv files
Items data acquired...
Stores data acquired...
Sales data acquired...
Acquisition complete
Data is cached. Reading data from .csv file.
Acquisition complete

In [6]:
# Check data types and column names
store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   sale_amount    913000 non-null  float64
 1   sale_date      913000 non-null  object
 2   sale_id        913000 non-null  int64
 3   item_brand     913000 non-null  object
 4   item_id        913000 non-null  int64
 5   item_name      913000 non-null  object
 6   item_price     913000 non-null  float64
 7   item_upc12     913000 non-null  int64
 8   item_upc14     913000 non-null  int64
 9   store_address  913000 non-null  object
 10  store_city     913000 non-null  object
 11  store_id       913000 non-null  int64
 12  store_state    913000 non-null  object
 13  store_zipcode  913000 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 104.5+ MB

* Sale_date is an object -> DatetimeIndex
* No null values
* Drop 'item_upc12','item_upc14'

In [11]:
store.sale_date = pd.DatetimeIndex(store.sale_date)

In [15]:
store = store.set_index(store.sale_date).sort_index()

In [19]:
store['revenue'] = store.sale_amount * store.item_price
store

,sale_amount,sale_date,sale_id,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_id,store_state,store_zipcode,revenue
sale_date,,,,,,,,,,,,,,,
2013-01-01 00:00:00+00:00,13.0,2013-01-01 00:00:00+00:00,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,10.92
2013-01-01 00:00:00+00:00,26.0,2013-01-01 00:00:00+00:00,211817,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,12018 Perrin Beitel Rd,San Antonio,7,TX,78217,218.40
2013-01-01 00:00:00+00:00,27.0,2013-01-01 00:00:00+00:00,832657,Mama Marys,46,Pizza Sauce,4.65,35457770664,35457770664,12018 Perrin Beitel Rd,San Antonio,7,TX,78217,125.55
2013-01-01 00:00:00+00:00,54.0,2013-01-01 00:00:00+00:00,213643,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,15000 San Pedro Ave,San Antonio,8,TX,78232,453.60
2013-01-01 00:00:00+00:00,35.0,2013-01-01 00:00:00+00:00,215469,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,735 SW Military Dr,San Antonio,9,TX,78221,294.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 00:00:00+00:00,21.0,2017-12-31 00:00:00+00:00,619014,Halls,34,Halls Menthol Cough Suppresant/oral Anesthetic...,4.17,312546628694,312546628694,735 SW Military Dr,San Antonio,9,TX,78221,87.57
2017-12-31 00:00:00+00:00,32.0,2017-12-31 00:00:00+00:00,620840,Halls,34,Halls Menthol Cough Suppresant/oral Anesthetic...,4.17,312546628694,312546628694,8503 NW Military Hwy,San Antonio,10,TX,78231,133.44
2017-12-31 00:00:00+00:00,55.0,2017-12-31 00:00:00+00:00,622666,Natures Way,35,Natures Way Forskohlii - 60 Ct,5.19,33674100066,33674100066,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,285.45
2017-12-31 00:00:00+00:00,100.0,2017-12-31 00:00:00+00:00,598928,The First Years,33,Tomy The First Years Gumdrop Orthodontic Pacif...,6.52,71463060078,71463060078,15000 San Pedro Ave,San Antonio,8,TX,78232,652.00
2017-12-31 00:00:00+00:00,82.0,2017-12-31 00:00:00+00:00,913000,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231,426.40

In [20]:
store.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 913000 entries, 2013-01-01 00:00:00+00:00 to 2017-12-31 00:00:00+00:00
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   sale_amount    913000 non-null  float64
 1   sale_date      913000 non-null  datetime64[ns, UTC]
 2   sale_id        913000 non-null  int64
 3   item_brand     913000 non-null  object
 4   item_id        913000 non-null  int64
 5   item_name      913000 non-null  object
 6   item_price     913000 non-null  float64
 7   item_upc12     913000 non-null  int64
 8   item_upc14     913000 non-null  int64
 9   store_address  913000 non-null  object
 10  store_city     913000 non-null  object
 11  store_id       913000 non-null  int64
 12  store_state    913000 non-null  object
 13  store_zipcode  913000 non-null  int64
 14  revenue        913000 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(3), int64(6), object(5)
memory usage: 111.5+ MB

In [ ]:
columns_to_drop = ['item_upc12','item_upc14','sale_amount','item_price']