In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

from datetime import datetime
from sklearn.metrics import mean_squared_error
from math import sqrt

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from pandas.plotting import register_matplotlib_converters

import statsmodels.api as sm
from statsmodels.tsa.api import Holt

import env

## Acquire 

#### Acquire the data by storing the contents of 'saas.csv' into a Pandas dataframe.

In [2]:
df = pd.read_csv('saas.csv')

In [3]:
df

       Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0          2014-01-31      1000000     5000000                0.0     0.0
1          2014-01-31      1000001     5000001                2.0    10.0
2          2014-01-31      1000002     5000002                0.0     0.0
3          2014-01-31      1000003     5000003                0.0     0.0
4          2014-01-31      1000004     5000004                1.0     5.0
...               ...          ...         ...                ...     ...
790453     2017-12-31      1029395     5790453                0.0     0.0
790454     2017-12-31      1029396     5790454                0.0     0.0
790455     2017-12-31      1029397     5790455                3.0    15.0
790456     2017-12-31      1029398     5790456                0.0     0.0
790457     2017-12-31      1029399     5790457                0.0     0.0

[790458 rows x 5 columns]