In [1]:
from vega_datasets import data

## Acquire the sf_temps dataset from vega_datasets

In [3]:
# Store the dataframe into a variable
sf_temps = data.sf_temps()

In [4]:
sf_temps

      temp                date
0     47.8 2010-01-01 00:00:00
1     47.4 2010-01-01 01:00:00
2     46.9 2010-01-01 02:00:00
3     46.5 2010-01-01 03:00:00
4     46.0 2010-01-01 04:00:00
...    ...                 ...
8754  50.4 2010-12-31 19:00:00
8755  49.9 2010-12-31 20:00:00
8756  49.4 2010-12-31 21:00:00
8757  48.8 2010-12-31 22:00:00
8758  48.3 2010-12-31 23:00:00

[8759 rows x 2 columns]

In [6]:
sf_temps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   temp    8759 non-null   float64
 1   date    8759 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 137.0 KB

In [8]:
# Set the date/time column as the index.
sf_temps = sf_temps.set_index('date').sort_index()

### 1. Resample by the day and take the average temperature. Visualize the average temperature over time.

In [9]:
sf_temps.resample('d').mean()

                 temp
date
2010-01-01  49.170833
2010-01-02  49.304167
2010-01-03  49.391667
2010-01-04  49.445833
2010-01-05  49.491667
...               ...
2010-12-27  48.991667
2010-12-28  49.000000
2010-12-29  49.012500
2010-12-30  49.012500
2010-12-31  49.116667

[365 rows x 1 columns]

### 2. Write the code necessary to visualize the minimum temperature over time.

In [11]:
sf_temps.resample('d').min()

            temp
date
2010-01-01  45.8
2010-01-02  46.0
2010-01-03  46.1
2010-01-04  46.1
2010-01-05  46.1
...          ...
2010-12-27  45.6
2010-12-28  45.6
2010-12-29  45.6
2010-12-30  45.6
2010-12-31  45.8

[365 rows x 1 columns]

### 3. Write the code necessary to visualize the maximum temperature over time.

In [12]:
sf_temps.resample('d').max()

            temp
date
2010-01-01  53.3
2010-01-02  53.4
2010-01-03  53.5
2010-01-04  53.6
2010-01-05  53.8
...          ...
2010-12-27  53.2
2010-12-28  53.2
2010-12-29  53.2
2010-12-30  53.2
2010-12-31  53.2

[365 rows x 1 columns]

### 4. Which month is the coldest, on average?

In [14]:
sf_temps.resample('M').mean()

                 temp
date
2010-01-31  49.984140
2010-02-28  52.243899
2010-03-31  53.956528
2010-04-30  55.633056
2010-05-31  57.970968
2010-06-30  60.444722
2010-07-31  61.765457
2010-08-31  62.405376
2010-09-30  62.487083
2010-10-31  60.253091
2010-11-30  55.185139
2010-12-31  50.498253

### 5. Which month has the highest average temperature?

In [25]:
sf_temps.resample('M').mean()

                 temp
date
2010-01-31  49.984140
2010-02-28  52.243899
2010-03-31  53.956528
2010-04-30  55.633056
2010-05-31  57.970968
2010-06-30  60.444722
2010-07-31  61.765457
2010-08-31  62.405376
2010-09-30  62.487083
2010-10-31  60.253091
2010-11-30  55.185139
2010-12-31  50.498253

### 6. Resample by the day and calculate the min and max temp for the day (Hint: .agg(['min', 'max'])). Use this resampled dataframe to calculate the change in temperature for the day. Which month has the highest daily temperature variability?

In [44]:
min_max = sf_temps.resample('d').agg(['min','max'])

In [52]:
min_max

            temp
             min   max
date
2010-01-01  45.8  53.3
2010-01-02  46.0  53.4
2010-01-03  46.1  53.5
2010-01-04  46.1  53.6
2010-01-05  46.1  53.8
...          ...   ...
2010-12-27  45.6  53.2
2010-12-28  45.6  53.2
2010-12-29  45.6  53.2
2010-12-30  45.6  53.2
2010-12-31  45.8  53.2

[365 rows x 2 columns]

In [51]:
min_max.columns

MultiIndex([('temp', 'min'),
            ('temp', 'max')],
           )

In [58]:
min_max.temp.min()

min    45.6
max    53.2
dtype: float64